body {
  background-color: rgb(250, 250, 250);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 3px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 3px;
  margin-top: 20px;
  border-bottom: solid 4px rgba(180, 200, 250, 0.5);
  border-top: solid 4px rgba(180, 200, 250, 0.5);
  margin-bottom: 20px;
}

a {
  color: blue;
  font-weight: 300;
  font-size: 20px;
}

li {
  margin-top: 25px;
}

section {
  padding-bottom: 150px;
}

.ifrm {
  overflow: hidden;
  overflow-y: hidden;
}
